csharp/HOLMS.Platform/HOLMS.Platform/bin/
csharp/HOLMS.Platform/HOLMS.Platform/obj/
csharp/HOLMS.Platform/packages
csharp/HOLMS.Platform/HOLMS.Platform.Tests/bin/
csharp/HOLMS.Platform/HOLMS.Platform.Tests/obj/
*.DotSettings.user
csharp/HOLMS.Platform/packages


